@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #e5a0ee;
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    background-color:#FFFFFF;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}
nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
    
}
nav li a:hover{
    background-color: #A0EEC8;
    
    color: black;
}


.banner{
    height: 100vh;
    background: #DFDFDF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header >img{
    position: relative;
width: 991px;
height: 90px;
    
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
        font-size: 18px;
        font-weight: 200;
        border-radius: 5px;
        transition: 0.3s;

}


.container > img {
position: absolute;
width: 300px;
height: 400px;
padding: 8px 15px;
top: 200px;
right: 900px;
 font-size: 18px;
 font-weight: 200;
padding: 8px 15px;
 border-radius: 5px;
  
}

.título{
position: absolute;
width: 783.09px;
height: 90.4px;
right: 108px;
top:170px;
font-family: 'Asul';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 36px;
display: flex;
align-items: center;
text-transform: uppercase;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.sinopse{
position: absolute;
width: 400px;
height: 300px;
top: 270px;
right: 500px;
font-family: 'Asul';
font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

}
.visualisador1 >img{
    position: absolute;
    width: 180px;
    height: 200px;
    padding: 8px 15px;
    top: 200px;
    left: 560px;;
    right: 900px;
     font-size: 18px;
     font-weight: 200;
    padding: 8px 15px;
     border-radius: 5px;
         

}
.visualisador2 >img{
    position: absolute;
    width: 200px;
    height: 180px;
    padding: 8px 15px;
    top: 400px;
    left: 560px;;
    right: 900px;
     font-size: 18px;
     font-weight: 200;
    padding: 8px 15px;
     border-radius: 5px;
}
.texto .titulo{
    color: #386C5F;
    font-size: 58px;
    font-weight: 600;

}
.texto .botoes button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    color:black;
    background-color: #6CD9C2AE;
}
footer{
    position: absolute;
width: 992px;
height: 150px;
left: 480px;
top: 1520px;
background: #9CD9C2;
margin: 0;
padding: 0;
box-sizing: border-box;
display: block;


}
.columninstitucional {
    position: absolute;
    display: inline-block;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    font-size: 12px;
    font-weight: 100px;
    height: 300px;
top: 20px;
right: 20px;
font-family: 'Asul';
font-style: normal;
line-height: 27px;


}
.columncategories  {
    position: absolute;
    display: inline-block;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    font-size: 12px;
    font-weight: 100px;
    height: 300px;
top: 20px;
right: 300px;
font-family: 'Asul';
font-style: normal;
line-height: 27px;
}
.columndisclaimer img{
    width: 130px;
    top: 20px;
}
.siganos {
    position: absolute;
    display: inline-block;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    font-size: 12px;
    font-weight: 100px;
    height: 300px;
top: 7px;
right: 600px;
font-family: 'Asul';
font-style: normal;
line-height: 27px;
}

.mobile-menu{
    display: none;
}
@media (min-width: 768px) {
    body {
      max-width: 768px;
      margin: 0 auto;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    body {
      max-width: 992px;
    }
  }
  
 