@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    

    background-color:white;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}
nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
    
}
nav li a:hover{
    background-color: #A0EEC8;
    
    color: black;
}


.banner{
    height: 100vh;
    background: #DFDFDF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header >img{
position: absolute;
width: 991px;
height: 90px;
     padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
        font-size: 18px;
        font-weight: 200;
        border-radius: 5px;
        transition: 0.3s;

}
#headerinicial >img{
    position: relative;
    width: 991px;
height: 90px;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
        font-size: 18px;
        font-weight: 200;
        border-radius: 5px;
        transition: 0.3s;

         
    }
#logo >img{
    position: absolute;
    width: 120px;
    height: 60px;
    left: 900px;
    top: 15px;
         
    }
    #icon >img{
        position: absolute;
        width: 30px;
        height: 25px;
        left: 1700px;
        top: 17px;
             
        }

.container >img {
position: absolute;
width: 300px;
height: 400px;
padding: 8px 15px;
top: 200px;
right: 800px;
left: 1130px;
 font-size: 18px;
 font-weight: 200;
padding: 8px 15px;
 border-radius: 5px;
  
}
.container2 >img{
    position:absolute;
    width: 992px;
    height: 400px;
    top: 1135px;
    right: 895.9px;
     font-size: 18px;
     font-weight: 200;
    padding: 8px 15px;
     border-radius: 5px;
     background-color:white;
      
    }

.título{
position: absolute;
width: 700px;
height: 90.4px;
right: 600px;
top:170px;
font-family: 'Asul';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 36px;
display: flex;
align-items: center;
text-transform: uppercase;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.sinopse{
position: absolute;
width: 400px;
height: 300px;
top: 270px;
right: 920px;
font-family: 'Asul';
font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

}
.visualisador1 >img{
    position: absolute;
    width: 180px;
    height: 200px;
    padding: 8px 15px;
    top: 200px;
    left: 950px;;
    right: 800px;
     font-size: 18px;
     font-weight: 200;
    padding: 8px 15px;
     border-radius: 5px;
         

}
.visualisador2 >img{
    position: absolute;
    width: 200px;
    height: 180px;
    padding: 8px 15px;
    top: 420px;
    left: 945px;;
    right: 800px;
     font-size: 18px;
     font-weight: 200;
    padding: 8px 15px;
     border-radius: 5px;
}

.texto .botoes button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    top: 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    outline: none;
    color:black;
    background-color: #4EC16E;
}
footer{
    position: absolute;
width: 992px;
height: 150px;
left: 896px;
top: 1520px;
background: #9CD9C2;
margin: 0;
padding: 0;
box-sizing: border-box;
display: block;


}
.columninstitucional {
    position: absolute;
    display: inline-block;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    font-size: 8px;
    font-weight: 90px;
    height: 300px;
top: 20px;
right: 20px;
font-family: 'Asul';
font-style: normal;
line-height: 27px;


}
.columnpagamento  {
    position: absolute;
    display: inline-block;
    align-items: flex-start;
    justify-content: flex-start;
    width: 300px;
    font-size: 8px;
    font-weight: 90px;
    height: 200px;
top: 20px;
right: 300px;
font-family: 'poppins';
font-style: normal;
text-decoration: none;
}
#elo{
    position: absolute;
    width: 30px;
    height: 25px;
    left: 30px;
    top: 40px;
}    
#master{
    position: absolute;
    width: 30px;
    height: 25px;
    left: 14px;
    top: 40px;
    }    
    #visa{
        position: absolute;
        width: 30px;
        height: 20px;
        left: 90px;
        top: 10px;
        }    
        #boleto{
            position: absolute;
            width: 20px;
            height: 10px;
            left: 80px;
            top: 10px;
            }    

.columndisclaimer > img {
    position: relative;
    width: 130px;
    height: 90px;
    top: 20px;
   
}

.redes {
    position: absolute;
    display: inline-block;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    font-size: 12px;
    font-weight: 100px;
    height: 300px;
top: 7px;
right: 600px;
font-family: 'Asul';
font-style: normal;
line-height: 27px;
}

.mobile-menu{
    display: none;
}
@media (min-width: 768px) {
    body {
      max-width: 768px;
      margin: 0 auto;
    }
  }
 
  @media (min-width: 992px) {
    body {
      max-width: 992px;
    }
  }
  
 